## User settings
xcuserdata/

## Build generated
build/
.build/
DerivedData

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Other
.DS_Store
/Packages
/*.xcodeproj
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
